<header class="navbar shadow-sm" th:fragment="header">
    <div class="brand">
        <div class="brand-text">
            <strong>SunTower</strong>
        </div>
    </div>
    <div class="d-flex align-items-center">
        <div class="user-info">
            <span class="user-greeting">Xin chào,</span>
            <strong class="user-name" th:text="${staffName}">Nguyễn Văn Minh Thủy</strong>
        </div>
        <div class="avatar-wrapper">
            <a th:href="@{/admin/profile}" class="text-decoration-none text-reset">
                <img th:src="@{'/images/staff_img/' + ${staffAvatar} + '.jpg'}"
                     alt="Admin Avatar">
                <span class="status-indicator"></span>
            </a>
        </div>
    </div>
</header>